.logo img {
    width: 173px;
    height: 112px;
    margin-left: 17px;
}

.text-block h2 {
    position: relative;
    padding-right: 24px;
    font-size: 42px;
}
.contact-form input {
    margin-right: 33px;
    margin-bottom: 0px;
}
.contact-form button {
    margin-top: 0px;
}
.main-nav .menu li a {
    color: black;
}
.header-wrap {
    background-color: white !important;
}
.menu-gradient {
    background: #02f3f0 !important ;
}
.main-nav .menu li.active > a {
    color: #dca343 !important;
}
.header-wrap header {
    padding: 0px;
}
body .font-gradient {
    background: -webkit-linear-gradient(
        45deg,
        #02f3f0 30%,
        #dca343 50%
    ) !important;
    -webkit-background-clip: text !important ;
    -webkit-text-fill-color: transparent !important
    ;
}
.btn::after,
.button::after {
    background: none !important;
}
.btn,
.button {
    background: #02f3f0;
    color: #36454f;
}
.btn,
.button:hover {
    color: #36454f;
    background: #dca343;
}
.main-slider .tt-slide .btn,
.main-slider .tt-slide .button {
    transition: all 0.3s !important;
    box-shadow: 0px 9px 20px #dca343;
}
.btn.white,
.button.white {
    color: #36454f;
    background: #02f3f0;
}
.btn.white,
.button.white:hover {
    color: #36454f;
    background: #dca343;
}
.btn.white.btn-border::before,
.button.white.btn-border::before {
    background: #02f3f0;
}

.btn.white.btn-border,
.button.white.btn-border {
    font-size: 14px;
    box-shadow: 0px 9px 20px #dca343;
}
.v-separator::after {
    background: -webkit-linear-gradient(
        45deg,
        #02f3f0 30%,
        #dca343 50%
    ) !important;
    width: 6px;
    height: 94px;
}
.to-top {
    background: #02f3f0;
}
.to-top svg path {
    fill: black;
}
.to-top:hover {
    background: #dca343;
    box-shadow: 0px 9px 20px #dca343;
}
.studio-slider .tt-slide {
    opacity: 0.2;
}

.testimonial-section .quote-img {
    opacity: 0.2;
}
.text-block h2::after {
    background: -webkit-linear-gradient(
        45deg,
        #02f3f0 30%,
        #dca343 50%
    ) !important;
}
.book-btn p span {
    color: #dca343;
}
.book-btn::after {
    background: #02f3f0;
}
.book-btn:hover h4,
.book-btn:hover p {
    color: #36454f;
}
.book-form button {
    margin-top: 0px;
}
.button.white.btn-border {
    margin-top: -9px;
}
input {
    margin-bottom: 0px;
}
.form-popup::after {
    background: -webkit-linear-gradient(
        45deg,
        #02f3f0 30%,
        #dca343 50%
    ) !important;
}
body .theme-color {
    color: #02f3f0 !important;
}
footer {
    background-color: #36454f;
    background-image: none !important;
}
footer .lazy {
    width: 12em;
    height: 8em;
    margin-left: 0px !important;
}
body .dark-section {
    background: #36454f;
}

.testimonials-slider .slick-next,
.testimonials-slider .slick-prev {
    top: 15em;
}

.popup-wrap.show .popup-inside {
    top: 34%;
}
@media (max-width: 991px) {
    .header-wrap .logo img {
        height: 84px;
        width: 146px;
        margin: auto;
    }
    .hamburger span {
        background: black;
    }
}

@media (max-width: 1199px) {
    .main-nav .menu {
        max-width: 100%;
        background: white;
    }
    .main-nav {
        height: 46em;
    }
}

@media only screen and (min-device-width: 240px) and (max-device-width: 768px) {
    .new {
        display: none;
    }
    .quote-img {
        width: 41px;
        margin-left: 14px;
    }
    .logo {
        margin: auto;
    }
    .header-wrap {
        height: 88px;
    }
    footer .logo img {
        width: 100% !important;
    }
    .header-wrap.is-scroll {
        height: 90px;
    }
    .main-nav.show-menu {
        margin-top: 19px;
    }
    #contactform {
        display: block !important;
    }
    .button.white.btn-border {
        margin-top: 13px;
    }
    .contact-form input {
        margin-bottom: 23px;
    }
}
